In [1]:
import pandas as pd
import numpy as np

import numerapi

import plotly.express as px
import datetime as dt

In [6]:
# some API calls do not require logging in
#public_id = "AVLW3M6UOZG3EIYLNN3JGUYHHC5MHV43"
#secret_key = "RSZTLYGVX4EICEDQFCMBKVS3MPPCZ6UT56ZMGAVD64DQEZRMAXNZIDBA6EW3XJTQ"
#napi = numerapi.NumerAPI(public_id, secret_key)
#napi = numerapi.NumerAPI()
napi = numerapi.SignalsAPI()

In [7]:
#napi.get_models()

In [10]:
df = pd.DataFrame(napi.daily_model_performances("jersey_devil"))

In [11]:
df

,corr20dRank,corr20dRep,corrRank,corrRep,date,mmc20dRank,mmc20dRep,mmcRank,mmcRep
0,306.0,0.003424,436,0.001369,2021-11-27 00:00:00+00:00,341.0,0.002754,491,0.001051
1,323.0,0.003148,457,0.001242,2021-11-26 00:00:00+00:00,364.0,0.002540,515,0.000951
2,301.0,0.003370,405,0.001575,2021-11-25 00:00:00+00:00,337.0,0.002709,460,0.001209
3,324.0,0.003311,419,0.001383,2021-11-24 00:00:00+00:00,357.0,0.002662,479,0.001058
4,348.0,0.002811,503,0.000892,2021-11-23 00:00:00+00:00,387.0,0.002261,565,0.000672
...,...,...,...,...,...,...,...,...,...
128,NaN,NaN,405,-0.000059,2021-05-12 00:00:00+00:00,NaN,NaN,397,-0.000043
129,NaN,NaN,349,0.000129,2021-05-11 00:00:00+00:00,NaN,NaN,347,0.000102
130,NaN,NaN,380,0.000057,2021-05-09 00:00:00+00:00,NaN,NaN,358,0.000048
131,NaN,NaN,385,0.000038,2021-05-08 00:00:00+00:00,NaN,NaN,367,0.000032
132,NaN,NaN,427,-0.000191,2021-05-07 00:00:00+00:00,NaN,NaN,427,-0.000148

In [33]:
df_daily_performance = pd.DataFrame(napi.daily_submissions_performances('jersey_devil'))
df_daily_performance

,corrRep,correlation,date,mmc,mmcRep,returns,roundNumber,submissionTime
0,None,-0.013277,2021-05-19 00:00:00+00:00,-0.010331,None,None,263,None
1,None,-0.012641,2021-05-18 00:00:00+00:00,-0.009812,None,None,263,None
2,None,-0.010731,2021-05-15 00:00:00+00:00,-0.008358,None,None,263,None
3,None,0.002089,2021-05-14 00:00:00+00:00,0.001650,None,None,263,None
4,None,-0.008882,2021-08-04 00:00:00+00:00,-0.006782,None,None,274,None
...,...,...,...,...,...,...,...,...
297,None,NaN,NaT,NaN,None,None,258,None
298,None,NaN,NaT,NaN,None,None,222,None
299,None,NaN,NaT,NaN,None,None,222,None
300,None,NaN,NaT,NaN,None,None,222,None
301,None,NaN,NaT,NaN,None,None,222,None

In [35]:
(
    df_daily_performance[df_daily_performance['roundNumber'] < 288]
    .sort_values('date', ascending = True)
    .groupby('roundNumber')['mmc']
    .last()
    .dropna()
    .sum()
)

0.06568732793845677

In [32]:
df_daily_performance = pd.DataFrame(napi.daily_submissions_performances('kenfus'))
(
    df_daily_performance[df_daily_performance['roundNumber'] < 288]
    .sort_values('date', ascending = True)
    .groupby('roundNumber')['mmc']
    .last()
    .dropna()
    .sum()
)

0.0420824545913484

In [ ]:
con = sqlite3.connect("xdf8_0_30-11-2021_16:52:09.db")
cursor = con.cursor()
# Read sqlite query results into a pandas DataFrame
df = pd.read_sql_query("SELECT * from trial_values", con)
con.close()

In [ ]:
df_daily_performance = pd.DataFrame(napi.daily_submissions_performances('xdf8_2'))
df_daily_performance

In [ ]:
df_daily_performance['roundNumber'].unique()

In [ ]:
lst = list(df_daily_performance['roundNumber'].unique())
lst

In [ ]:
lst.sort()
lst

In [ ]:
rounds = df_daily_performance['roundNumber'].unique()
rounds.sort()
list(rounds[-4:])

In [ ]:
rounds = df_daily_performance['roundNumber'].unique()
rounds.sort()
list(rounds[-4:])

plot_df = df_daily_performance[df_daily_performance['roundNumber'].isin(list(rounds[-4:]))]#, ascending = False)
p = px.line(data_frame = plot_df, x = 'date', y = 'correlation', color = 'roundNumber')
p.update_layout(hovermode = 'x')
p.show()

In [ ]:
min_date = df_daily_performance[df_daily_performance['roundNumber'] == 287]['date'].min()

delta_days = (dt.datetime.now() - min_date).days
delta_days

In [ ]:
dt.datetime.now()

In [ ]:
pd.to_datetime(min_date).dt.date

In [ ]:
(dt.datetime.now() - pd.to_datetime(min_date.to_datetime64())).days

In [ ]:
selected_models_daily = ['xdf8_0', 'xdf8_2', 'kenfus']

daily_dfs = []

for model in selected_models_daily:
    df_model_daily = pd.DataFrame(napi.daily_submissions_performances(model))
    df_model_daily['model'] = model
    daily_dfs.append(df_model_daily)

daily_dfs = pd.concat(daily_dfs).sort_values('date')


selected_round_daily = 278


daily_score_plot = px.line(
    daily_dfs[daily_dfs['roundNumber'] == selected_round_daily], 
    x = 'date',  
    y = 'correlation',
    color = 'model', 
    title = 'Correlation reputation over time'
)



# USE THIS FOR COMPARING ONE MODEL BUT MULTIPLE ROUNDS



min_date = daily_dfs[daily_dfs['roundNumber'] == selected_round_daily]['date'].min()
max_date = daily_dfs[daily_dfs['roundNumber'] == selected_round_daily]['date'].max()

delta_days = (max_date - min_date).days


daily_score_plot.update_layout(
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count = 7,
                     label = "1w",
                     step = "day",
                     stepmode = "backward"),
                dict(count = delta_days,
                     label = "round",
                     step = "day",
                     stepmode = "backward"),
                dict(step="all")
            ]),
            bgcolor = 'black'
        )
    )
)

print(delta_days)
print(min_date)

daily_score_plot

In [ ]:

min_date = daily_dfs[daily_dfs['roundNumber'] == selected_round_daily]['date'].min()
max_date = daily_dfs[daily_dfs['roundNumber'] == selected_round_daily]['date'].max()
(dt.datetime.now() - pd.to_datetime(min_date.to_datetime64())).days

In [ ]:
(max_date - min_date).days